# Get this from your LocalStack Dashboard
LOCALSTACK_AUTH_TOKEN=ls-Hg... 

# Db
JWT_SECRET=your-jwt-secret-here

# Fake credentials
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1

# Gin configuration
TRUSTED_PROXIES=* # * for all
GIN_MODE=debug # release/debug/test
PORT=8080
USE_LOCALSTACK=true